@import "tailwindcss";
@plugin "daisyui";
@import "./assets/animations.css";

@plugin "daisyui/theme" {
  /* Dark Mode */
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(20% 0.01 255); /* Main background */
  --color-base-200: oklch(25% 0.015 255); /* Section background */
  --color-base-300: oklch(30% 0.02 255); /* Hover background */
  --color-base-content: oklch(95% 0.01 255); /* Text color */

  --color-primary: oklch(0.54 0.2122 28.19); /* Bold blood red */
  --color-primary-content: oklch(100% 0 0); /* White text */

  --color-secondary: oklch(0.88 0.02 70); /* Warm supportive beige */
  --color-secondary-content: oklch(10% 0.02 70); /* Dark text */

  --color-accent: oklch(0.4 0.1 250); /* Cool blue for buttons/CTAs */
  --color-accent-content: oklch(100% 0 0); /* White text */

  --color-neutral: oklch(35% 0.02 255); /* Dark gray background */
  --color-neutral-content: oklch(95% 0.01 255); /* Light text */

  --color-info: oklch(80% 0.14 250); /* Blue */
  --color-info-content: oklch(15% 0.02 250); /* Text on info */

  --color-success: oklch(0.45 0.14 140); /* Green */
  --color-success-content: oklch(100% 0 0); /* White text */

  --color-warning: hsl(40, 90%, 50%);
  --color-warning-content: oklch(10% 0.02 100);

  --color-error: oklch(0.44 0.18 25); /* Deep red */
  --color-error-content: oklch(98% 0.01 0); /* White text */

  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 2;
  --noise: 0.3;
}

@plugin "daisyui/theme" {
  /* Light Mode */
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(0.54 0.2122 28.19);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.97 0.0117 5.76);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.34 0.0771 245.37);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(75% 0.15 250);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(0.51 0.1202 144.18);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: hsl(47, 95%, 50%);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(0.49 0.186227 27.6164);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
